html {
    margin: 0;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
    font-family: FuturaBook, Roboto, Arial;
}
  
body {
    width: 1980px;
    max-width: 90vw;
    height: 100vh;
    margin: 0;

    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    justify-items: center;

    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
  
  
/* Content */

main {
    height: 100%;
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 3rem;
    margin-bottom: 3rem;

    transition: transform 0.6s ease-in-out, opacity 0.4s ease-in-out, display 0.6s ease-in-out;
}

main > header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main > header > div {
    display: flex;
    flex-direction: column;
    align-items: start;
}

main > header > div > h1 {
    font-family: ArquitectaMedium;
    line-height: 0;
    font-size: 2rem;
    letter-spacing: 2px;
    color: gray;
    padding-left: 2rem;
}

main > header > div > p {
    line-height: 1.4em;
    font-size: 1.6rem;
}

article {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-top: 2px solid rgb(189, 189, 189);
    padding-top: 2rem;
}

article > header {
    margin: 0;
    padding: 0;
    width: 96%;
}

article h2 {
    font-family: ArquitectaMedium;
    display: inline;
    line-height: 2rem;
    font-size: 1.6rem;
    margin: 0;
    font-weight: 600;
}

article > div {
    width: 96%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

article header p {
    font-family: ArquitectaMedium;
    font-size: 1.4rem;
}

article p {
    display: block;
    text-align: justify;
    line-height: 2rem;
    font-size: 1.3rem;
    letter-spacing: 2px;
    text-indent: 4rem;
    margin: 0;
    padding: 0;
}

.slide-appear {
    opacity: 0;
    animation: slideAppear var(--animation-duration, 0.5s) forwards;
    animation-delay: var(--animation-delay, 0);
}

.slide-disappear {
    animation: slideDisappear var(--animation-duration, 0.3s) forwards;
    animation-delay: var(--animation-delay, 0);
}
  
@keyframes slideAppear {
    0% {
        opacity: 0;
        transform: translateY(-2em) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
  
@keyframes slideDisappear {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(-2em) scale(0.9);
    }
}

.opacity-appear {
    opacity: 0;
    animation: opacityAppear var(--animation-duration, 0.5s) forwards;
    animation-delay: var(--animation-delay, 0);
}
  
.opacity-disappear {
    animation: opacityDisappear var(--animation-duration, 0.3s) forwards;
    animation-delay: var(--animation-delay, 0);
}
  
@keyframes opacityAppear {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
  
@keyframes opacityDisappear {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.8);
    }
} 

.side-slide-appear {
    opacity: 0;
    animation: sideSlideAppear var(--animation-duration, 0.5s) forwards;
    animation-delay: var(--animation-delay, 0);
}

.side-slide-disappear {
    animation: sideSlideDisappear var(--animation-duration, 0.3s) forwards;
    animation-delay: var(--animation-delay, 0);
}
  
@keyframes sideSlideAppear {
    0% {
        opacity: 0;
        transform: translateX(-6em) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}
  
@keyframes sideSlideDisappear {
    0% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateX(-5em) scale(0.8);
    }
}

/* Extra Small Devices (Phones) */
@media all and (max-width: 576px) {
    main {
        flex-direction: column;
        gap: 2rem;
        width: 90%;
    }

    main > header > div > h1 {
        font-size: 3rem;
    }

    main > header > div > p {
        font-size: 2rem;
    }

    article > header {
        margin: 0;
        padding: 0;
        width: 96%;
    }
    
    article h2 {
        font-family: ArquitectaMedium;
        display: inline;
        line-height: 2rem;
        font-size: 1.6rem;
        margin: 0;
        font-weight: 600;
    }
    
    article > div {
        width: 96%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    article header h2 {
        font-size: 2.6rem;
        font-weight: 200;
        letter-spacing: 2px;
    }
    
    article header p {
        font-size: 2.4rem;
    }
    
    article p {
        line-height: 2.4rem;
        font-size: 2rem;
        text-indent: 4rem;
    }
}

/* Small Devices (Tablets) */
@media all and (min-width: 577px) and (max-width: 768px) {
    main {
        flex-direction: column;
        gap: 2rem;
        width: 90%;
    }

    main > header > div > h1 {
        font-size: 3rem;
    }

    main > header > div > p {
        font-size: 2rem;
    }

    article > header {
        margin: 0;
        padding: 0;
        width: 96%;
    }
    
    article h2 {
        font-family: ArquitectaMedium;
        display: inline;
        line-height: 2rem;
        font-size: 1.6rem;
        margin: 0;
        font-weight: 600;
    }
    
    article > div {
        width: 96%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    article header h2 {
        font-size: 2.6rem;
        font-weight: 200;
        letter-spacing: 2px;
    }
    
    article header p {
        font-size: 2.4rem;
    }
    
    article p {
        line-height: 2.4rem;
        font-size: 2rem;
        text-indent: 4rem;
    }
}

/* Medium Devices (Tablets and Small Laptops) */
@media all and (min-width: 769px) and (max-width: 992px) {
    main {
        flex-direction: column;
        gap: 2rem;
        width: 90%;
    }

    main > header > div > h1 {
        font-size: 3rem;
    }

    main > header > div > p {
        font-size: 2rem;
    }

    article > header {
        margin: 0;
        padding: 0;
        width: 96%;
    }
    
    article h2 {
        font-family: ArquitectaMedium;
        display: inline;
        line-height: 2rem;
        font-size: 1.6rem;
        margin: 0;
        font-weight: 600;
    }
    
    article > div {
        width: 96%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    article header h2 {
        font-size: 2.6rem;
        font-weight: 200;
        letter-spacing: 2px;
    }
    
    article header p {
        font-size: 2.4rem;
    }
    
    article p {
        line-height: 2.4rem;
        font-size: 2rem;
        text-indent: 4rem;
    }
}

/* Large Devices (Desktops) */
@media all and (min-width: 993px) and (max-width: 1200px) {
}

/* Extra Large Devices (Large Desktops) */
@media all and (min-width: 1201px) {
}