/* Footer */

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-size: 1em;
}

.footer-left {
    display: flex;
    justify-content: left;
    align-items: center;

    letter-spacing: 1px;
    color: gray;
}

.footer-right {
    display: flex;
    justify-content: right;
    align-items: center;

    letter-spacing: 1px;
    color: gray;
}

.footer-button {
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;

    margin-right: 40px;
    margin-bottom: -4px;
    cursor: pointer;

    text-decoration: none;
    color: gray;
}

.footer-button:hover {
    margin-bottom: -5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(170, 170, 170);
}

/* Footer */

/* Extra Small Devices (Phones) */
@media all and (max-width: 576px) {
    footer {
        font-size: 1.6rem;
    }
}

/* Small Devices (Tablets) */
@media all and (min-width: 577px) and (max-width: 768px) {
    footer {
        font-size: 1.6rem;
    }
}

/* Medium Devices (Tablets and Small Laptops) */
@media all and (min-width: 769px) and (max-width: 992px) {
    footer {
        font-size: 1.6rem;
    }
}

/* Large Devices (Desktops) */
@media all and (min-width: 993px) and (max-width: 1200px) {
}

/* Extra Large Devices (Large Desktops) */
@media all and (min-width: 1201px) {
}
