html {
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: FuturaBook, Roboto, Arial;
}

body {
    width: 1980px;
    max-width: 90vw;
    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Content - Landing */

main {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    
    transition: transform 0.6s ease-in-out, opacity 0.4s ease-in-out, display 0.6s ease-in-out;
}

main > div:first-child {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

main > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-container {
    max-width: 1500px;

    display: flex;
    justify-content: center;
    
    text-align: center;
}

.quote {
    margin: 0;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 0;

    gap: 3rem;
}

main nav a {
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;

    margin-bottom: -4px;
    cursor: pointer;

    text-decoration: none;
    color: gray;

    transition: opacity 1.8s ease, transform 1.5s ease, color 400ms ease-in-out;
}

.hidden {
    display: none;
}

main nav a:hover {
    margin-bottom: -5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    /* border-bottom-color: rgb(170, 170, 170); */

    color: black;
    border-bottom-color: black;
}

.down-arrow-button {
    border: none;
    background-color: rgba(0, 0, 0, 0.0);
    cursor: pointer;
    padding: 1rem;
    border-radius: 4rem;
    width: 4rem;
    align-items: center;
}

.down-arrow {
    width: 2rem;
}

/* Animation classes */
.quote-appear {
    animation: quoteAppear 1s forwards;
}

.main-nav-appear {
    animation: mainNavAppear 1s forwards;
    animation-delay: 0.4s;
}

@keyframes quoteAppear {
    0% {
        opacity: 0;
        transform: translateY(-1em) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes mainNavAppear {
    0% {
        opacity: 0;
        transform: translateY(-4em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.quote-disappear {
    animation: quoteDisappear 0.3s forwards;
    animation-delay: 0.15s;
}

.main-nav-disappear {
    animation: mainNavDisappear 0.3s forwards;
}

@keyframes quoteDisappear {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(-2em) scale(0.9);
    }
}

@keyframes mainNavDisappear {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-4em);
    }
}


/* Extra Small Devices (Phones) */
@media all and (max-width: 576px) {
    .quote {
        font-size: 3rem;
        line-height: 1.8em;
        text-align: center;
        width: 66%;
    }

    main nav a {
        font-size: 1.2em;
    }
}

/* Small Devices (Tablets) */
@media all and (min-width: 577px) and (max-width: 768px) {
    .quote {
        width: 66%;

        font-size: 4rem;
        line-height: 1.8em;
        text-align: center;
    }

    main nav a {
        font-size: 1.8em;
    }
}

/* Medium Devices (Tablets and Small Laptops) */
@media all and (min-width: 769px) and (max-width: 992px) {
    .quote {
        width: 66%;

        font-size: 4rem;
        line-height: 1.8em;
        text-align: center;
    }

    main nav a {
        font-size: 1.8em;
    }
}

/* Large Devices (Desktops) */
@media all and (min-width: 993px) and (max-width: 1200px) {
    .quote {
        width: 66%;

        font-size: 4em;
        line-height: 1.8em;;
        text-align: center;
    }

    main nav a {
        font-size: 1.2em;
    }
}

/* Extra Large Devices (Large Desktops) */
@media all and (min-width: 1201px) {
    .quote {
        width: 66%;

        font-size: 4em;
        line-height: 1.8em;;
        text-align: center;
    }

    main nav a {
        font-size: 1.2em;
    }
}
