html {
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: FuturaBook, Roboto, Arial;
}

body {
  width: 1980px;
  max-width: 90vw;
  height: 100vh;
  margin: 0;

  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  justify-items: center;

  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}


/* Content */

main {
  height: 100%;
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  
  transition: transform 0.6s ease-in-out, opacity 0.4s ease-in-out, display 0.6s ease-in-out;
}

.hidden {
  display: none;
}

main > header {
  display: flex;
  flex-direction: column;
}

#project-title {
  margin: 0;
  margin-bottom: 10px;
}

#poject-image-container {
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

#project-location {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease;
  letter-spacing: 3px;
}

#poject-image-container:hover #project-location {
  opacity: 1;
}

#poject-image {
  width: 100%;
  height: 24rem;
  object-fit: cover;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0px 10px 20px rgb(160, 160, 160);
}

#project-content-container {
  width: 100%;
  height: 100%;
  max-height: 40vh;
  overflow-y: scroll;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
  transform: translateY(-2rem);
  box-sizing: border-box;
  border: 2px solid rgba(150, 150, 150, 0.238);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1.4rem;
}

#project-skills {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  list-style: none;
}

.border-slide-appear::after {
  content: "";
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  
  animation: borderSlideAppear var(--border-appear-animation-duration, 0.2s) forwards;
  animation-delay: var(--border-animation-delay, 0);
}

.border-slide-disappear::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  
  animation: borderSlideDisappear var(--border-disappear-animation-duration, 0.1s) forwards;
  animation-delay: var(--border-animation-delay, 0);
}

@keyframes borderSlideAppear {
  0% {
      background-color: var(--border-color, black);
      height: var(--border-width, 1px);
      opacity: 0;
      width: 0;
  }
  100% {
      background-color: var(--border-color, black);
      height: var(--border-width, 1px);
      opacity: 1;
      width: 100%;
  }
}

@keyframes borderSlideDisappear {
  0% {

      background-color: var(--border-color, black);
      height: var(--border-width, 1px);
      opacity: 1;
      width: 100%;
  }
  100% {
      background-color: var(--border-color, black);
      height: var(--border-width, 1px);
      opacity: 0;
      width: 0;
  }
}

#projects-title {
  font-size: 2.5rem;
  font-family: ArquitectaBold;
  margin: 0;
  letter-spacing: 3px;
  color: rgb(150, 150, 150);
}

#projects-number {
  font-size: 1.8rem;
  font-family: ArquitectaBold;
  margin: 0;
  letter-spacing: 3px;
  color: rgb(150, 150, 150);
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#projects li {
  list-style: none;
  font-size: 1.4rem;
  letter-spacing: 3px;
  border-bottom: 1px solid black;
  padding-bottom: 1.4rem;
  padding-top: 1.4rem;
  cursor: pointer;

  --animation-slide-appear-duration: 0.2s;
  --animation-slide-disappear-duration: 0.1s;
}

#projects li:last-child {
  border-bottom: none;
}

/* Animation classes */
.slide-appear {
  opacity: 0;
  animation: slideAppear var(--animation-slide-appear-duration, 0.5s) forwards;
}

.slide-disappear {
  animation: slideDisappear var(--animation-slide-disappear-duration, 0.3s) forwards;
}

@keyframes slideAppear {
  0% {
      opacity: 0;
      transform: translateY(-0.5em) scale(0.8);
  }
  100% {
      opacity: 1;
      transform: translateY(0) scale(1);
  }
}

@keyframes slideDisappear {
  0% {
      opacity: 1;
      transform: translateY(0) scale(1);
  }
  100% {
      opacity: 0;
      transform: translateY(-0.5em) scale(0.8);
  }
}

.opacity-appear {
  opacity: 0;
  animation: opacityAppear var(--animation-opacity-appear-duration, 0.5s) forwards;
}

.opacity-disappear {
  animation: opacityDisappear var(--animation-opacity-disappear-duration, 0.3s) forwards;
}

@keyframes opacityAppear {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes opacityDisappear {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

.skills-appear {
  opacity: 0;
  animation: skillsAppear 0.8s forwards;
  animation-delay: 0.2s;
}

.skills-disappear {
  animation: skillsDisappear 0.3s forwards;
}

@keyframes skillsAppear {
  0% {
      opacity: 0;
      transform: translateY(-2em);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes skillsDisappear {
  0% {
      opacity: 1;
      transform: translateY(0);
  }
  100% {
      opacity: 0;
      transform: translateY(-2em);
  }
}

.big-slide-appear {
  opacity: 0;
  animation: bigSlideAppear 0.5s forwards;
  animation-delay: 0.4s;
}

.big-slide-disappear {
  animation: bigSlideDisappear 0.3s forwards;
}

@keyframes bigSlideAppear {
  0% {
      opacity: 0;
      transform: translateY(-3rem);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes bigSlideDisappear {
  0% {
      opacity: 1;
      transform: translateY(0);
  }
  100% {
      opacity: 0;
      transform: translateY(-3rem);
  }
}


.projects-text {
  font-size: 2.4em;
  line-height: 2em;
  text-align: justify;

}

.author {
  font-size: 0.6em;
  font-family: ArquitectaMedium;
  line-height: 20px;
  margin-top: -20px;
}

.image-container {
  padding-top: 200px;
  height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-image {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.info {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: left;
  padding: 0px 120px;
  margin-top: 40px;
  margin-bottom: 120px;
}

.container-title h1 {
  font-family: ArquitectaMedium;
  color: rgb(90, 90, 90);
  font-weight: 100;
  font-size: 2.4em;
  letter-spacing: 2px;
  word-spacing: 4px;
}

.container-text {
  font-size: 1.4em;
  line-height: 2em;
  text-align: justify;
}

/* Content */